In [9]:
# lambda expression : annonymous function 
add = lambda a, b : a + b

In [10]:
out = add(2, 4)
print(out)

6

In [13]:
# celcius to fah
c2f = lambda cel: 1.8 * cel + 32
val = -40
out = c2f(val)
print(f'Fah value {out}')

Fah value -40.0

In [18]:

lst = ['vishal', 'arit', 'brajveer', 'zoya', 'mohit']
lst.sort(key=lambda st: st[-1])
print(lst)

['zoya', 'vishal', 'brajveer', 'arit', 'mohit']

In [20]:

lst = ['vishal', 'arit', 'brajveer', 'zoya', 'mohit']
out = list(map(lambda st: st.capitalize(), lst))
print(out)

['Vishal', 'Arit', 'Brajveer', 'Zoya', 'Mohit']

In [26]:

lst = ['vishaal', 'arita', 'brajjjjveer', 'zoya', 'mohit']
out = max(lst, key=lambda st: st.count('j'))
print(out)

brajjjjveer

In [31]:

 
ls = [1, 2, 34, 4, 3, 8, 9]
out = list(filter(lambda n: n % 2 == 0 , ls))
print(out)

[2, 34, 4, 8]

In [39]:
lst = {'vishal': 34, 'arit': 12, 'brajveer': 19, 'zoya': 20, 'mohit': 50}
out = [i for i in lst if lst[i] >20]
print(out)

['vishal', 'mohit']