In [1]:
# pandas : data visualization tool 
import pandas as pd

Indexing with Pandas involves accessing specific rows and columns of a DataFrame or Series. Here are some common ways to do indexing in Pandas:

1. **Accessing Columns**: You can access a column in a DataFrame using square brackets or dot notation.

    ```python
    df['Column_Name']
    df.Column_Name
    ```

2. **Accessing Rows by Label**: You can use `.loc[]` to access rows by their label (index).

    ```python
    df.loc['Label']
    ```

3. **Accessing Rows by Integer Location**: You can use `.iloc[]` to access rows by their integer location.

    ```python
    df.iloc[integer_location]
    ```

4. **Accessing Specific Cells**: You can access a specific cell by specifying both the row and column.

    ```python
    df.loc['Label', 'Column_Name']
    ```

5. **Boolean Indexing**: You can use boolean conditions to filter rows based on certain criteria.

    ```python
    df[df['Column_Name'] > 10]
    ```

6. **Chained Indexing**: You can chain indexing operations together.

    ```python
    df.loc['Label']['Column_Name']
    ```

In [3]:
series = pd.Series([10, 12, 11, 12.5, 15], index=list('abcde'))
print(series)

a    10.0
b    12.0
c    11.0
d    12.5
e    15.0
dtype: float64

In [5]:
df = pd.DataFrame([('ravi', 10), ('subhansh', 18), ('saket', 8)], columns=['name', 'marks'])
print(df)

       name  marks
0      ravi     10
1  subhansh     18
2     saket      8

In [13]:
movies = pd.read_csv(r'/Users/amirkhan/Python Development/python academic/Batch2023-24/module2/pandas basics/Bollywood_movies.csv', index_col='Rank')
print(movies)

      Peak                         Film  Year               Director  \
Rank
1        1                       Dangal  2016          Nitesh Tiwari
2        1  Baahubali 2: The Conclusion  2017        S. S. Rajamouli
3        3            Bajrangi Bhaijaan  2015             Kabir Khan
4        3             Secret Superstar  2017         Advait Chandan
5        1                           PK  2014        Rajkumar Hirani
6        5                          2.0  2018              S.Shankar
7        2     Baahubali: The Beginning  2015        S. S. Rajamouli
8        4                       Sultan  2016        Ali Abbas Zafar
9        8                        Sanju  2018        Rajkumar Hirani
10       7                    Padmaavat  2018  Sanjay Leela Bhansali
11       8              Tiger Zinda Hai  2017        Ali Abbas Zafar
12       1                      Dhoom 3  2013  Vijay Krishna Acharya
13       9                          War  2019        Siddharth Anand
14       1                     3 Idiots  2009        Rajkumar Hirani
15      14                    Andhadhun  2018        Sriram Raghavan
16      16                        Saaho  2019                Sujeeth
17       6         Prem Ratan Dhan Payo  2015     Sooraj R. Barjatya
18       2              Chennai Express  2013           Rohit Shetty
19       4                         Kick  2014       Sajid Nadiadwala
20      17                       Simmba  2018           Rohit Shetty
21       5               Happy New Year  2014             Farah Khan
22       8                     Krrish 3  2013          Rakesh Roshan
23      10                      Dilwale  2015           Rohit Shetty
24      21                  Kabir Singh  2019          Sandeep Vanga
25      25                      Tanhaji  2020                Om Raut

                                               Producer Language  \
Rank
1     Aamir Khan Productions  UTV Motion Pictures  W...    Hindi
2                                      Arka Media Works   Telugu
3     Salman Khan Films  Kabir Khan Films  Eros Inte...    Hindi
4                                Aamir Khan Productions    Hindi
5             Vinod Chopra Films  Rajkumar Hirani Films    Hindi
6                                      Lyca Productions    Tamil
7                                      Arka Media Works   Telugu
8                                        Yash Raj Films    Hindi
9               Rajkumar Hirani FilmsVinod Chopra Films    Hindi
10       Bhansali Productions Viacom 18 Motion Pictures    Hindi
11                                       Yash Raj Films    Hindi
12                                       Yash Raj Films    Hindi
13                                       Yash Raj Films    Hindi
14                                   Vinod Chopra Films    Hindi
15          Viacom 18 Motion Pictures Matchbox Pictures    Hindi
16                               UV Creations  T-Series   Telugu
17                Fox Star Studios  Rajshri Productions    Hindi
18                           Red Chillies Entertainment    Hindi
19                                  Nadiadwala Grandson    Hindi
20           Reliance Entertainment  Dharma Productions    Hindi
21                           Red Chillies Entertainment    Hindi
22                       Filmkraft Productions Pvt. Ltd    Hindi
23    Red Chillies Entertainment Rohit Shetty Produc...    Hindi
24                              Cine1 Studios  T-Series    Hindi
25                            Ajay Devgn FFilmsT-Series    Hindi

      Worldwide_Gross_INR(Crore)  Worldwide_Gross_USD(Million)
Rank
1                        2024.00                        311.00
2                        1810.00                        278.00
3                         969.06                        150.00
4                         966.86                        154.00
5                         832.00                        120.00
6                         800.00                        123.00
7                         650.00                        101.00
8                         623.33                         96.00
9                         586.85                         90.12
10                        585.00                         90.00
11                        565.10                         87.32
12                        556.00                        101.00
13                        475.50                         67.00
14                        460.00                         88.00
15                        456.89                         64.00
16                        433.06                         61.00
17                        432.00                         67.00
18                        423.00                         72.19
19                        402.00                         66.00
20                        400.00                         61.00
21                        397.21                         65.08
22                        393.37                         61.00
23                        376.85                         58.00
24                        367.68                         56.00
25                        366.36                         56.00

In [15]:
# indexing 
data = movies[['Film', 'Director']]
print(data, type(data))

                             Film               Director
Rank
1                          Dangal          Nitesh Tiwari
2     Baahubali 2: The Conclusion        S. S. Rajamouli
3               Bajrangi Bhaijaan             Kabir Khan
4                Secret Superstar         Advait Chandan
5                              PK        Rajkumar Hirani
6                             2.0              S.Shankar
7        Baahubali: The Beginning        S. S. Rajamouli
8                          Sultan        Ali Abbas Zafar
9                           Sanju        Rajkumar Hirani
10                      Padmaavat  Sanjay Leela Bhansali
11                Tiger Zinda Hai        Ali Abbas Zafar
12                        Dhoom 3  Vijay Krishna Acharya
13                            War        Siddharth Anand
14                       3 Idiots        Rajkumar Hirani
15                      Andhadhun        Sriram Raghavan
16                          Saaho                Sujeeth
17           Prem Ratan Dhan Payo     Sooraj R. Barjatya
18                Chennai Express           Rohit Shetty
19                           Kick       Sajid Nadiadwala
20                         Simmba           Rohit Shetty
21                 Happy New Year             Farah Khan
22                       Krrish 3          Rakesh Roshan
23                        Dilwale           Rohit Shetty
24                    Kabir Singh          Sandeep Vanga
25                        Tanhaji                Om Raut <class 'pandas.core.frame.DataFrame'>

In [19]:
movies.loc[:, ['Film', 'Year']]

                             Film  Year
Rank
1                          Dangal  2016
2     Baahubali 2: The Conclusion  2017
3               Bajrangi Bhaijaan  2015
4                Secret Superstar  2017
5                              PK  2014
6                             2.0  2018
7        Baahubali: The Beginning  2015
8                          Sultan  2016
9                           Sanju  2018
10                      Padmaavat  2018
11                Tiger Zinda Hai  2017
12                        Dhoom 3  2013
13                            War  2019
14                       3 Idiots  2009
15                      Andhadhun  2018
16                          Saaho  2019
17           Prem Ratan Dhan Payo  2015
18                Chennai Express  2013
19                           Kick  2014
20                         Simmba  2018
21                 Happy New Year  2014
22                       Krrish 3  2013
23                        Dilwale  2015
24                    Kabir Singh  2019
25                        Tanhaji  2020

In [36]:
movies.loc[movies['Year'] > 2016, ['Film', 'Producer', 'Year']]

,Film,Producer,Year
Rank,,,
2,Baahubali 2: The Conclusion,Arka Media Works,2017
4,Secret Superstar,Aamir Khan Productions,2017
6,2.0,Lyca Productions,2018
9,Sanju,Rajkumar Hirani FilmsVinod Chopra Films,2018
10,Padmaavat,Bhansali Productions Viacom 18 Motion Pictures,2018
11,Tiger Zinda Hai,Yash Raj Films,2017
13,War,Yash Raj Films,2019
15,Andhadhun,Viacom 18 Motion Pictures Matchbox Pictures,2018
16,Saaho,UV Creations T-Series,2019
20,Simmba,Reliance Entertainment Dharma Productions,2018
24,Kabir Singh,Cine1 Studios T-Series,2019
25,Tanhaji,Ajay Devgn FFilmsT-Series,2020

In [33]:
import numpy as np

ar = np.array([10, 5, 3, 11, 12, 8, 6])
print(ar == 10)

[ True False False False False False False]

In [1]:
import pandas as pd

In [40]:
df = pd.DataFrame([[1, 2], [1.0, 2.0], [0, 0]], columns=['one', 'two'])
print(df)

   one  two
0  1.0  2.0
1  1.0  2.0
2  0.0  0.0

In [6]:
df[['one']]  # valid
df[['one', 'two']]  # valid

   one  two
0  1.0  2.0
1  1.0  2.0

In [16]:
df.loc[0:10]  # no error if last match not found in continuety

   one  two
0  1.0  2.0
1  1.0  2.0

In [13]:
df.loc[0, 'one':'two']

one    1.0
two    2.0
Name: 0, dtype: float64

In [49]:
for i in df.items():
    print(i[0], type(i[0]))

one <class 'str'>
two <class 'str'>

In [53]:
for i in df.iterrows():
    print(i[1], type(i[1]))

one    1.0
two    2.0
Name: 0, dtype: float64 <class 'pandas.core.series.Series'>
one    1.0
two    2.0
Name: 1, dtype: float64 <class 'pandas.core.series.Series'>
one    0.0
two    0.0
Name: 2, dtype: float64 <class 'pandas.core.series.Series'>

In [14]:
df.loc['one':'three']

Empty DataFrame
Columns: [one, two]
Index: []

In [9]:
df.loc[0:1]

   one  two
0  1.0  2.0
1  1.0  2.0

In [21]:
df.loc[0:1]

   one  two
0  1.0  2.0
1  1.0  2.0

In [22]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [23]:
df = pd.DataFrame([[1, 2], [1.0, 2.0]], columns=['one', 'two'], index=[3, 2])
print(df)

   one  two
3  1.0  2.0
2  1.0  2.0

In [26]:
df.index

Index([3, 2], dtype='int64')

In [55]:
path = r'/Users/amirkhan/Python Development/python academic/Batch2023-24/module2/pandas basics/'
df = pd.read_csv(path + 'nba-2.csv')
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [56]:
df.loc[df['Position']=='SG', 'Name']

2          John Holland
3           R.J. Hunter
12          Evan Turner
13          James Young
15     Bojan Bogdanovic
             ...
433    Gerald Henderson
437       C.J. McCollum
438        Luis Montero
444          Alec Burks
449         Rodney Hood
Name: Name, Length: 102, dtype: object

In [37]:
for i in df:
    print(i)

print(len(df))

Name
Team
Number
Position
Age
Height
Weight
College
Salary
458

In [62]:
df.loc[(df['Age'] > 20) & (df['Age'] < 28), 'Age']

0      25.0
1      25.0
2      27.0
3      22.0
6      21.0
       ...
451    26.0
453    26.0
454    24.0
455    26.0
456    26.0
Name: Age, Length: 255, dtype: float64