In [ ]:
'''
*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *

'''

In [10]:
rows = 10
for i in range(1, rows+1):
    for j in range(i):
        print('%', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(i):
        print('%', end='')
    print()

%                  %
%%                %%
%%%              %%%
%%%%            %%%%
%%%%%          %%%%%
%%%%%%        %%%%%%
%%%%%%%      %%%%%%%
%%%%%%%%    %%%%%%%%
%%%%%%%%%  %%%%%%%%%
%%%%%%%%%%%%%%%%%%%%

In [31]:
rows = 10
for i in range(1, rows+1):
    print('*'*(i)+' '*(rows-i)+' '*(rows-i)+'*'*i)
for i in range(1, rows+1):
    print('*'*(rows-i+1)+' '*(i-1) + ' '*(i-1) + '*'*(rows-i+1))

*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************
********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *

In [ ]:
'''
1
23
456
7890
12345
678901

'''

In [46]:
rows = 10
val = 65
for i in range(1, rows+1):
    
    for j in range(i):
        print(chr(val), end='')
    val += 1
    if val > 90:
        val = 65

    
    print()

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ

In [43]:
'''
*        *
**      **
***    ***
****  ****
**********

'''

'Z'

In [61]:
rows = 10
for i in range(1, rows+1):
    for j in range(i):
        print('&', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(i-1):
        print('&', end='')
    for j in range(i):
        print('&', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(rows-i):
        print(' ', end='')
    for j in range(i):
        print('&', end='')
    print()

&                  &                  &
&&                &&&                &&
&&&              &&&&&              &&&
&&&&            &&&&&&&            &&&&
&&&&&          &&&&&&&&&          &&&&&
&&&&&&        &&&&&&&&&&&        &&&&&&
&&&&&&&      &&&&&&&&&&&&&      &&&&&&&
&&&&&&&&    &&&&&&&&&&&&&&&    &&&&&&&&
&&&&&&&&&  &&&&&&&&&&&&&&&&&  &&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

In [76]:
rows = 12
for i in range(1, rows+1):
    print(str(i%10)*i + ' '*(rows-i)+ ' '*(rows-i)+ str(i%10)*i)

1                      1
22                    22
333                  333
4444                4444
55555              55555
666666            666666
7777777          7777777
88888888        88888888
999999999      999999999
0000000000    0000000000
11111111111  11111111111
222222222222222222222222

In [77]:
'''
1
23
456
7890
12345
'''

'\n1\n23\n456\n7890\n12345\n'

In [3]:
st = 'hello'
print(*st, sep='\n')

h
e
l
l
o